<% form_remote_for :iqamah_timing,
     :url => { :action => :update, :id => iqamah_timing }, :html => { :id => 'iqamah-form' } do |f| %>
<div class="group">
  <dl>
    <dt><label for="iqamah_timing_name">Section name</label></dt>
    <dd><%= f.text_field :name, :class => 'big' %></dd>
    <dt><label for="iqamah_timing_time">Type of section</label></dt>
    <dd><%= f.time_select :time %></dd>
  </dl>
</div>
<p class="btns"><%= submit_tag "Save #{iqamah_timing.name}" %></p>
<% end -%>
